<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
	<div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/">Home</a>
		<a class="nav-item nav-link" (click)="logout()">Logout</a>
	</div>
</nav>

<!-- main app container -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<alert></alert>
				<div class="alert alert-info">
					<div>Username: test1</div>
					<div>Password: test1</div>
				</div>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>


<div class="text-center">
	<p>Angular 8 - Login Example. Specially prepared for <a href="https://stackoverflow.com/q/56699041/3375906"
			target="_top">Stack Overflow question</a>
	</p>
</div>